{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            <p>
                this it he about page content
            </p>
            <p>
                this it {{index .StringMap "test"}}
            </p>

            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                your remote IP address is {{index .StringMap "remote_ip"}}
                {{else}}
                I don't know your IP
                {{end}}
            </p>
        </div>
    </div>
</div>

{{end}}